<footer class="footer-main">
     {{ site.title }} © <span id="year"></span>

    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
    <!-- {{ site.title }} © 2024 -->

    <!-- <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        <i class="fa-solid fa-rss"></i>
    </a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p> -->
</footer>